version: '3.8'

services:
  flask-app:
    build: .
    container_name: devops-flask-container
    ports:
      - "5001:5000"
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=development
    volumes:
      - .:/app
    restart: unless-stopped